body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.separator {
  height: 20px;
}

.event-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;
  background-color: #341211;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  margin-top: 30px;
}

.menu label,
#hamburger {
  display: none;
}

.menu ul {
  display: flex;
  align-self: center;
}

.menu li {
  padding-left: 11px;
  padding-right: 11px;
}

.menu .item-separation {
  border-right: solid 2px;
}

.event-section .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 973px;
  justify-content: flex-start;
  /* padding-bottom: 20px;
  min-height: 50vh; */
}

.event-section .information .information-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.event-section .information img {
  height: 350px;
}

.event-section .information .description {
  text-align: center;
  margin-top: auto; 
  padding-top: 20px;
  margin-bottom: 30px;
}

.event-section .information .links {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.event-section .side-image {
  width: 45%;
  background: #f24f14;
}

.event-section .side-image img {
  width: 100%;
}

.event-section .information .links {
  width: 70%;
}

.event-section .information .links .c4p {
  padding: 7px 30px 7px 30px;
}

.event-section .information .links .tickets {
  padding: 8px 40px 8px 40px;
  margin: 4px;
}

.ingressos-wrapper {
  display: flex;
  margin: 30px;
}

.ingressos-wrapper a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: lighter;
  background-color: #d59006;
  color: #fff;
  border-radius: 50px;
  padding: 25px 50px;
}

.sponsors-section {
  background: #0139a8;
  padding: 40px 90px;
}

.sponsors-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsors-section .header a {
  padding: 8px 40px 8px 40px;
}

.sponsors-section .placeholder {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sponsors-section .list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-top: 40px;
}

.sponsors-section .list .info {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  margin-bottom: 7px;
}

.sponsors-section img {
  max-height: 160px;
  max-width: 300px;
  align-self: center;
}

.sponsors-benefits ul{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
  list-style: none;
  flex-wrap: wrap; 
}

.sponsors-benefits li {
  background-color: #341211; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 250px;

}

.sponsors-benefits li div {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  padding: 5px;
}

.sponsors-benefits .header span {
  padding-bottom: 10px;
  padding-top: 20px;
}

.sponsors-section .div-button {
  display: flex;
}

.schedule-section {
  margin: 40px 90px;
}

.schedule-section .placeholder {
  margin-top: 40px;
  margin-bottom: 40px;
}

.schedule-section .tables {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.schedule-section .tables .day {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin: 10px 0;
}

.schedule-section .tables .day .info {
  margin-bottom: 20px;
}

.schedule-section .tables .attraction {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-bottom: 4px;
}

.schedule-section .tables .attraction .time-container {
  display: flex;
  align-items: center;
}

.schedule-section .tables .attraction .time {
  padding: 6px 31px;
  display: flex;
  text-align: center;
}

.schedule-section .tables .attraction .description {
  padding: 6px 31px;
  width: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.schedule-section .tables .attraction .description p {
  width: 300px;
  overflow-wrap: break-word;
}

.venue-section {
  margin: 40px 90px;
}

.venue-section .information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.venue-section .information .address {
  padding-top: 60px;
  width: 500px;
}

.venue-section .information .map iframe {
  width: 450px;
  height: 250px;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

footer .information {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px;
}

footer .information .description {
  margin: 20px 0;
}

footer .links {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 40px;
}

footer .links .actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

footer .links .actions a {
  padding: 8px 30px;
}

footer .links .social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-top: 60px;
}

footer .links .social i {
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .menu {
    position: fixed;
    width: 100%;
    margin-top: 0;
    height: 40px;
    justify-content: flex-start;
  }

  .menu label {
    display: inline-block;
    padding: 10px;
  }

  .menu ul {
    flex-direction: column;
    position: absolute;
    height: 100vh;
    overflow: visible;
    top: 40px;
    width: 0;
    transition: width 0.3s ease-in-out;
    display: none;
  }

  .menu ul li {
    padding: 20px 20px;
  }

  .menu input:checked ~ ul {
    display: block;
    overflow: hidden;
    width: 50%;
    transition: width 0.3s ease-in-out;
  }

  .menu .item-separation {
    border-right: 0;
  }

  .event-section .information {
    width: 100%;
  }

  .event-section .information img {
    height: 100px;
    margin-top: 65px;
  }

  .event-section .information p {
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .event-section .side-image {
    display: none;
  }

  .venue-section .information .map {
    margin: 0 auto;
  }

  .venue-section .information .map iframe {
    width: 250px;
    height: 200px;
  }

  .venue-section .information .address {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sponsors-section .header {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sponsors-section .header a {
    margin-left: 0;
    text-align: center;
  }

  .sponsors-section h2 {
    margin-bottom: 20px;
  }

  .sponsors-section .placeholder {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .sponsors-section {
    padding: 40px;
  }

  .sponsors-section .list .info {
    width: 100%;
    margin-bottom: 15px;
  }

  .schedule-section .tables .day {
    width: 100%;
  }

  .schedule-section .tables .attraction .description {
    padding: 15px 20px;
  }

  .schedule-section {
    margin: 20px 20px;
  }

  .venue-section {
    margin: 20px 20px;
  }

  .logistics {
    padding-top: 40px;
  }

  .event-section .information .links {
    width: 90%;
  }

  .schedule-section .tables .attraction .time {
    padding: 6px 20px;
    width: 300px;
  }
}
