html {
  font-size: calc(0.5em + 1vw);
}

body {
  font-family: "Lato", sans-serif;
}

.separator {
  background-image: url(../img/divisor.png);
  background-size: contain;
}

.menu li a {
  text-decoration: none;
  font-size: 0.95em;
  color: #512c0b;
  font-weight: lighter;
}

.menu li a:hover {
  font-weight: normal;
}

.menu .item-separation {
  border-right-color: #d45d0d;
}

.event-section .information .description {
  font-size: 0.7em;
  line-height: 1.4;
  font-weight: 400;
  color: #512c0b;
}

.event-section .information .links a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: lighter;
  border-radius: 2px;
  text-align: center;
}

.event-section .information .links a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.event-section .information .links .c4p {
  background-color: #d12809;
  color: #ebebeb;
}

.event-section .information .links .tickets {
  background-color: #3e5820;
  color: #ebebeb;
}

.sponsors-section h2 {
  font-size: 1.5em;
  color: #512c0b;
  font-weight: lighter;
}

.sponsors-section .header a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: lighter;
  border-radius: 2px;
  background-color: #3e5820;
  color: #ebebeb;
}

.sponsors-section .header a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.sponsors-section .placeholder p {
  font-size: 1em;
  color: #d45d0d;
}

.sponsors-section .placeholder.texto-menor p {
  font-weight: lighter;
  color: #512c0b;
  line-height: 1.1;
  margin-bottom: 15px;
}

.sponsors-section .list .info p {
  font-size: 0.7em;
  font-weight: lighter;
  color: #512c0b;
  line-height: 1.1;
}

.schedule-section .placeholder p {
  font-size: 1em;
  color: #d45d0d;
}

.schedule-section h2 {
  font-size: 1.5em;
  color: #512c0b;
  font-weight: lighter;
}

.schedule-section .tables {
  font-size: 0.8em;
  font-weight: lighter;
}

.schedule-section h3 {
  font-size: 1em;
  color: #d45d0d;
  font-weight: bold;
  margin-bottom: 15px;
}

.schedule-section .tables .day .info {
  font-size: 1.1em;
  color: #512c0b;
}

.schedule-section .tables .attraction .time {
  color: #ebebeb;
}

.schedule-section .tables .attraction-no-margin {
  margin-bottom: 0;
}

#talks {
  background-color: #3e5820;
  border-top: solid #3e5820 1px;
}

#workshops {
  background-color: #d12809;
  border-top: solid #d12809 1px;
}

#workshops-time-off {
  background-color: #d12809;
  border-top: solid #d12809 1px;
  color: #d12809;
}

#workshops-description-off {
  color: #fefaf2;
}

#important {
  font-weight: bold;
  background-color: antiquewhite;
}

.schedule-section .tables .attraction .description {
  line-height: 1.4;
  background-color: #fefaf2;
  color: #512c0b;
}

.schedule-section .tables .attraction .description .speaker {
  font-weight: bold;
  margin-bottom: 7px;
}

.venue-section h2 {
  font-size: 1.5em;
  color: #512c0b;
  font-weight: lighter;
}

.venue-section .information .address {
  font-size: 1em;
  font-weight: lighter;
  color: #aa4d16;
  line-height: 1.4;
}

footer {
  background-color: #3e5820;
  font-weight: lighter;
}

footer .information {
  color: #ebebeb;
  line-height: 1.4;
}

footer .information h2 {
  font-size: 1.2em;
}

footer .information .description {
  font-size: 0.75em;
}

footer .information .description .conduct-code {
  color: white;
  font-weight: bold;
}

footer .information .copyright {
  font-size: 0.55em;
}

footer .links .actions a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: lighter;
  border-radius: 2px;
}

footer .links .actions a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

footer .links .actions .c4p {
  background-color: #512c0b;
  color: #ebebeb;
}

footer .links .actions .tickets {
  background-color: #d12809;
  color: #ebebeb;
}

footer .links .social i {
  border-radius: 30px;
  background-color: #fefaf2;
  color: #3e5820;
}

footer .links .social i:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: calc(0.7em + 1vw);
  }

  .menu {
    background: #512c0b;
  }

  .menu label {
    color: #fff;
    background: #e1882b;
    font-size: 1.2em;
  }

  .menu ul {
    background-color: #e1882b;
    color: #ffffff;
  }

  .menu li a {
    line-height: 1.5;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
  }

  .menu li a:hover {
    color: #ffffff;
  }

  .sponsors-section .placeholder p {
    font-size: 1.3em;
  }

  #workshops-time-off {
    display: none;
  }

  #workshops-description-off {
    display: none;
  }
}
