html { font-size: calc(0.5em + 1vw) }

body {
    font-family: 'Lato', sans-serif;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

.menu li a {
    text-decoration: none;
    font-size: 0.8em;
    color: #444444
}

.menu li a:hover {
    color: black;
}

.menu .item-separation {
    border-right-color: #c0c0c0;
}

.event-section .information h1 {
    font-size: 2em;
    line-height: 1.1;
    color: #606060;
    font-weight: lighter;
}

.event-section .information .description {
    font-size: 0.7em;
    line-height: 1.4;
    font-weight: lighter;
    color: #606060;
}

.event-section .information .links a {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: lighter;
    border-radius: 2px;
}

.event-section .information .links a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.event-section .information .links .c4p {
    background-color: #606060;
    color: #ebebeb;
}

.event-section .information .links .tickets {
    background-color: #ebebeb;
    color: #606060;
}

.event-section .logistics .date {
    font-size: 2em;
    color: #606060;
    font-weight: lighter;
}

.event-section .logistics .venue {
    font-size: 0.9em;
    color: #606060;
    font-weight: lighter;
}

.sponsors-section h2 {
    font-size: 1.5em;
    color: #606060;
    font-weight: lighter;
}

.sponsors-section .header a {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: lighter;
    border-radius: 2px;
    background-color: #606060;
    color: #ebebeb;
}

.sponsors-section .header a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.sponsors-section .placeholder p {
    font-size: 2em;
    color: #606060;
    font-weight: lighter;
}

.sponsors-section .list .info p {
    font-size: 0.7em;
    font-weight: lighter;
    color: #606060;
    line-height: 1.1;
}

.schedule-section .placeholder p {
    font-size: 2em;
    color: #606060;
    font-weight: lighter;
}

.schedule-section h2 {
    font-size: 1.5em;
    color: #606060;
    font-weight: lighter;
}

.schedule-section .tables {
    font-size: 0.8em;
    font-weight: lighter;
}

.schedule-section .tables .day .info{
    font-size: 1.1em;
}

.schedule-section .tables .attraction .time {
    background-color: #606060;
    color: #ebebeb;
    border-top: solid #606060 1px;
}

.schedule-section .tables .attraction .description {
    line-height: 1.4;
    background-color: #ebebeb;
    color: #606060;
}

.venue-section h2 {
    font-size: 1.5em;
    color: #606060;
    font-weight: lighter;
}

.venue-section .information .address {
    font-size: 1em;
    font-weight: lighter;
    color: #606060;
    line-height: 1.1;
}